@import "../scss/_variables.scss";
@import "../scss/_queries.scss";

* {
  border: 1px solid red;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  @include nav;
}

.bread-pic {
  background-image: url(../img/menu_bread.jpg);
  height: 65vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread-intro {
  font-size: 3.5rem;
  color: $white;
  text-shadow: 0.1rem 0.1rem #161414;
  letter-spacing: 0.5rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem;
}

.bread {
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  display: flex;
}

.left {
  margin: 3rem 10rem;
  width: 20%;
}

.right {
  margin: 3rem;
  width: 70%;
}

.main-container-left-category {
  background-color: rgb(87, 151, 194);
}

.main-container-left-category-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  //background-color: beige;
  margin-bottom: 5rem;
}

.main-container-left-category-text a {
  color: $white;
  text-decoration: none;
  font-size: 2.5rem;
}

.main-container-right-title {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 3rem;
}

.main-container-right-container-images {
  display: flex;
  flex-wrap: wrap;
}

.main-container-right-images {
  justify-content: center;
  align-items: center;
  width: 27%;
  margin: 2rem;
  padding: 1rem;
  height: auto;
}

.main-container-right-images p {
  margin-bottom: 0rem;
}

.main-container-right-images img {
  object-fit: contain;
  width: 100%;
}
