@import "../scss/_variables.scss";
@import "../scss/_queries.scss";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  @include nav;
}

.bread-pic {
  background-image: url(../img/menu_bread.jpg);
  height: 65vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread-intro {
  font-size: 3.5rem;
  color: $white;
  text-shadow: 0.1rem 0.1rem #161414;
  letter-spacing: 0.5rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem;
}
