@import "../scss/_variables.scss";
@import "../scss/_queries.scss";

* {
  border: 1px solid red;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  @include nav;
}

.bread-pic {
  background-image: url(../img/menu_bread.jpg);
  height: 65vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread-intro {
  font-size: 3.5rem;
  color: $white;
  text-shadow: 0.1rem 0.1rem #161414;
  letter-spacing: 0.5rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem;
}

.bread {
  width: 90%;
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  display: flex;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main-container .left {
  flex-flow: column wrap;
  flex-grow: 1;
  height: 100%;
  display: flex;
}

.main-container .right {
  flex-basis: 10%;
}

.main-container-left-category-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  flex-grow: 0;
  margin: 1rem;
  padding: 1rem;
  color: $blue;
}

.main-container-right-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 5;
  height: 10rem;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}
/*
display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 3rem auto;
  */
