@import "../scss/_variables.scss";
@import "../scss/_queries.scss";

/*
* {
  border: 1px solid red;
}
*/

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  @include nav;
}

.bread-pic {
  background-image: url(../img/menu_bread.jpg);
  height: 65vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread {
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  display: flex;
}

.left {
  margin: 13.5rem 10rem;
  width: 20%;
}

.right {
  margin: 3rem;
  width: 70%;
}

.main-container-left-category {
  background-color: rgb(87, 151, 194);
  display: flex;
  flex-direction: column;
}

.main-container-left-category-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.text-1 {
  padding-top: 5rem;
}

.text-6 {
  padding-bottom: 5rem;
  margin-bottom: 1rem;
}

.main-container-left-category-text a:link,
.main-container-left-category-text a:visited {
  color: $white;
  text-decoration: none;
  font-size: 2.5rem;
}

.main-container-left-category-text a:hover,
.main-container-left-category-text a:active,
.main-container-left-category-text a:focus {
  color: #ffc5c5;
  transition: 0.3s all;
}

.main-container-right-title {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 3rem;
}

.main-container-right-container-images {
  display: flex;
  flex-wrap: wrap;
}

.main-container-right-images {
  justify-content: center;
  align-items: center;
  width: 27%;
  margin: 2rem;
  padding: 1rem;
  height: auto;
}

.main-container-right-images img:hover,
.main-container-right-images img:active,
.main-container-right-images img:focus {
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
}

.main-container-right-images p {
  margin-bottom: 0rem;
}

.main-container-right-images img {
  object-fit: contain;
  width: 100%;
}

/*
@media screen and (max-width: 1500px) {
  .main-container-right-images {
    margin: 0.8rem;
  }
}
*/

@media screen and (max-width: 1600px) {
  .main-container-right-images {
    margin: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .main-container-right-images {
    width: 43%;
    margin: 1rem;
  }
}

@media screen and (max-width: 1300px) {
  .main-container-right-images {
    width: 43%;
    margin: 1rem;
  }
  .left {
    margin: 13.5rem 5rem;
  }
  .right {
    width: 75%;
  }
}

@media screen and (max-width: 1100px) {
  .main-container-right-images {
    width: 43%;
    margin: 1rem;
  }
  .left {
    margin: 13.5rem 0rem;
    margin-left: 4rem;
  }
  .right {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .main-container-right-images {
    width: 40%;
    margin: 1rem;
  }
  .left {
    margin: 13rem 0rem;
    margin-left: 4rem;
  }
  .right {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .main-container-left-category-text {
    margin: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .bread {
    flex-direction: column;
    margin: 1rem;
  }
  .main-container-left-category {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-container-left-category-text {
    width: 33%;
    margin: 1rem;
  }
  .main-container-left-category-text a:link,
  .main-container-left-category-text a:visited,
  .main-container-left-category-text a:active,
  .main-container-left-category-text a:focus {
    font-size: 2rem;
  }

  .main-container-right-images {
    width: 38%;
    margin: 1rem;
  }
  .left {
    margin: 1rem auto;
    width: 90%;
  }
  .right {
    width: 90%;
    margin: 1rem auto;
  }
  .text-1 {
    padding: 1rem;
  }
  .text-6 {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .main-container-right-container-images {
    flex-direction: column;
  }
  .main-container-right-images {
    width: 90%;
  }
}
