@import "../scss/_variables.scss";
@import "../scss/_queries.scss";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  @include menu;
  @include nav;
}

.category-pic {
  background-image: url(../img/others-top.jpg);
}

.footer-container {
  @include footer-var;
}
