@charset "UTF-8";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
font-family: "Abel", sans-serif;
}

.top-nav {
  font-family: "Lato", sans-serif;
  background-image: -webkit-gradient (linear, left top, right top, from (#000003), color-stop(35%, #15447c), to(#00d4ff));
  background-image: linear-gradient(90deg, #000003 0%, #15447c 35%, #00d4ff 100%);
  background-color: #191919;
  font-size: 2.5rem;
  margin: 1rem 0;
  background-size: 100%;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  font-size: 2rem;
  text-align: center;
  margin: 2.5rem 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar-sec {
  margin: 1rem 1.5rem;
}

.navbar-sec:after,
.narbar-sec:focus {
  display: block;
  content: "";
  border-bottom: solid 0.2rem #efb7ba;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
} 

.narbar-sec:hover:after,
.navbar-sec:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

.locations {
  margin: 2rem 15rem;
  text-align: center;
}

.locations-header {
  font-size: 3rem;
  margin: 5rem 0 4rem 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: all 0.2s;
  transition: 0.2s; 
}

 .locations-header:hover {
  -webkit-transform: translate3d(20, 100%, 0);
        transform: translate3d(20, 100%, 0);
  letter-spacing: 1rem;
} 

.locations-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
    -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.locations-headquarters {
  margin: 2rem 4rem;
 /* background-color: rgb(245, 189, 235); */
  background-color: #efb7ba;
  word-wrap: break-word;
  border: 0.3rem groove black;
}

.locations-box {
  margin: 2rem 4rem;
 /* background-color: rgb(245, 189, 245); */
  background-color: #efb7ba;
  border: 0.3rem groove black;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 48%;
  -ms-flex-basis: 48%;
  flex-basis: 48%; */
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.locations-box:hover, .locations-headquarters:hover {
  -webkit-filter: drop-shadow(1rem 2rem 1rem #a1fcfc);
          filter: drop-shadow(1rem 2rem 1rem #a1fcfc);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
}

.form-header {
  font-size: 2.5rem;
  margin: 4rem 0 3rem 0;
}

.form-sec {
  text-align: left;
}

input[type=text], textarea {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  height: 20vh;
  font-family: "Lato", sans-serif; 
  resize: none;
}

/* input[type=submit] {
  background-color: #bad7df;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 12%;
  padding: 0.8rem 2rem;
}

input[type=submit]:hover {
  background-color: #efb7ba;
} */

.submit-btn {
  background-color: #99ddcc;
  border: none;
  color: #000;
  padding: 0.8rem 2rem;
  text-align: center;
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12%;
}

.submit-btn:hover {
  opacity: 2;
}

/*# sourceMappingURL=contact-page.css.map */