@charset "UTF-8";
/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
/*
* {
  border: 1px solid red;
}
*/
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 6rem;
  background-color: #ffffff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-logo {
  position: relative;
}

nav .logo {
  background-color: #00d4ff;
  z-index: 14;
  float: left;
  width: 40rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 1.2rem;
  font-size: 2.5rem;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  color: black;
  background-image: -webkit-gradient(linear, left top, right top, from(#3b74df), color-stop(25%, #5387c7), to(#00d4ff));
  background-image: linear-gradient(90deg, #3b74df 0%, #5387c7 25%, #00d4ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .links {
  padding: 0;
  margin: 0;
  width: 48%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

nav .links li {
  list-style: none;
}

nav .links a:link,
a:visited,
a:active,
a:focus {
  display: block;
  padding: 0;
  font-size: 2.5rem;
  text-decoration: none;
  position: relative;
  color: #000000;
  text-transform: uppercase;
}

nav .links a:link:before,
a:visited:before,
a:active:before,
a:focus:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: solid 0.2rem #efb7ba;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav .links a:link:hover:before,
a:visited:hover:before,
a:active:hover:before,
a:focus:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 3rem;
  height: 0.5rem;
  background-color: #000000;
  margin: 0.5rem;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.image1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url(../img/food.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25)), url(../img/food.jpeg);
  height: 93vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.image1_intro {
  font-size: 2.7rem;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem #161414;
  letter-spacing: 0.5rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem;
}

.welcome {
  margin: 2rem 15rem;
  text-align: center;
}

.welcome-header {
  font-size: 4rem;
  margin: 5rem 0 4rem 0;
}

.welcome-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-gallery-pic {
  width: 33.333%;
  margin: 2rem 4rem;
}

.welcome-gallery-pic img {
  width: 100%;
}

.button:link,
.button:visited,
.button:active {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  background-color: #bad7df;
  color: #000000;
}

.button:hover,
.button:focus {
  background-color: #92b8c2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 1100px) {
  nav .links {
    width: 58%;
  }
}

@media screen and (max-width: 868px) {
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 6rem;
    bottom: 100%;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-image: -webkit-gradient(linear, left top, right top, from(#2673d8c2), color-stop(25%, #3066a7be), to(#00d9ffbb));
    background-image: linear-gradient(90deg, #2673d8c2 0%, #3066a7be 25%, #00d9ffbb 100%);
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav .links a:link,
  a:visited,
  a:active,
  a:focus {
    font-size: 20px;
    color: #ffffff;
  }
  .container-logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  nav .logo {
    float: none;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding-top: 2.3rem;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(225deg);
            transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-225deg);
            transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

.trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  background-image: linear-gradient(45deg, #78e9f3, #427aaf);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .welcome-gallery-pic {
    width: 85%;
    margin: 1.5rem;
  }
  .welcome {
    margin: 2rem 10rem;
  }
}

@media screen and (max-width: 800px) {
  .welcome-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome-gallery-pic {
    width: 80%;
  }
  .welcome {
    margin: 2rem 10rem;
  }
}
/*# sourceMappingURL=main-page.css.map */