@import "_queries.scss";
@import "_variables.scss";

/*
* {
  border: 1px solid red;
}
*/

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

.top-nav {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    90deg,
    #000003 0%,
    #15447c 35%,
    #00d4ff 100%
  );
  background-color: #191919;
  font-size: 2.5rem;
  margin: 1rem 0;
  background-size: 100%;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  font-size: 2rem;
  text-align: center;
  margin: 2.5rem 0;
}

.navbar {
  display: flex;
  font-size: 2.5rem;
  list-style: none;
  justify-content: center;
}

.navbar-sec {
  margin: 1rem;
}

.navbar-sec:after {
  display: block;
  content: "";
  border-bottom: solid 0.2rem #efb7ba;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.navbar-sec:hover:after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: black;
}

.image1 {
  background-image: url(../img/food.jpeg);
  height: 86vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image1_intro {
  padding: 41rem 0;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem #161414;
  letter-spacing: 0.5rem;
}

.welcome {
  margin: 2rem 15rem;
  text-align: center;
}

.welcome-header {
  font-size: 4rem;
  margin: 5rem 0;
}

.welcome-gallery {
  display: flex;
}

.welcome-gallery-pic {
  width: 33.333%;
  margin: 1rem 4rem;
}

.welcome-gallery-pic img {
  width: 100%;

@media screen and (max-width: 800px) {
  .welcome-gallery {
    flex-direction: column;
    align-items: center;
  }
  .welcome-gallery-pic {
    width: 80%;
  }
  .welcome {
    margin: 2rem 10rem;
  }
}

.button {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  background-color: #bad7df;
}

.button:hover {
  background-color: #92b8c2;
  transition: all 1s;
}
