@import "scss/_queries.scss";
@import "scss/_variables.scss";

* {
  border: 1px solid red;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

.top-nav {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.container {
  font-size: 2rem;
  text-align: center;
  margin: 2.5rem 0;
}

.navbar {
  display: flex;
  font-size: 2.5rem;
  list-style: none;
  justify-content: center;
}

.navbar-sec {
  margin: 1rem;
}

.navbar-sec:after {
  display: block;
  content: "";
  border-bottom: solid 0.2rem black;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.navbar-sec:hover:after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: black;
}

.image1 img {
  width: 100vw;
  height: 82rem;
  object-fit: cover;
}

.welcome {
  margin: 2rem 3rem;
}

.welcome-header {
  font-size: 4rem;
}

.welcome-gallery {
  display: flex;
  height: 90vh;
}

.welcome-gallery-pic {
  width: 33.333%;
  background-size: contain;
  background-repeat: no-repeat;
}

.welcome-gallery-pic.one {
  background-image: url(img/cupcake.webp);
}

.welcome-gallery-pic.two {
  background-image: url(img/cupcake.webp);
}

.welcome-gallery-pic.three {
  background-image: url(img/cupcake.webp);
}
